@page "/ejecucion"
@layout SistemaLayout
@using SistemaPECI.Client.Shared.Layouts

<h3>Ejecución</h3>

<p>Bienvenido a la sección de Ejecución. Aquí podrás realizar las actividades relacionadas con la ejecución del sistema.</p>

@code {
    // Lógica 
}
